<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My First HTML Page</title>
</head>
<body>
  <h2>The total number of user are : <%= count %></h2>
  <button>join us today</button>
</body>
</html>
